.navbar-wrapper{
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0 , 0 , 0.8);
}

.navbar{
    background-color: #fff;
    height: 100%;
}

.navbar ul{
    width: 100%;
}

.nav-item{
    padding: 24px 12px;
    list-style: none;
    color: var(--heading-color);
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: all ease 0.2s;
}

.nav-item:hover{
    color: var(--primary-color);
    transform: translateX(-6px);
}