:root{
   --background-color: #F6F8D5;
   --heading-color: #4F959D;
   --primary-color: #205781;
   --secondary-color: #98D2C0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Tomorrow", sans-serif;
  font-size: 32px;
}

p,a,span,i,button, .button, li, input, textarea{
  font-family: "Zain", sans-serif;
  font-size: 20px;
}

p{
  color: var(--primary-color);
}

.app-item{
  padding: 64px 48px;
}

.app-item-title{
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.app-item-desc{
  font-size: 28px;
}

/* button components */
.button{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 24px;
  transition: all ease 0.2s;
}

.button:hover{
  background-color: transparent;
  color: #205781;
}

.footer{
  background-color: var(--heading-color);
  padding: 32px 48px;
}

.footer-logo{
  color: var(--background-color);
  font-size: 56px;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: end;
}

.social-media > a i{
  color: var(--background-color);
  font-size: 40px;
  margin-left: 20px;
}

.copyright p{
  margin-top: 20px;
  text-align: center;
  color: var(--background-color);
  font-size: 28px;
}

.menu-btn{
  cursor: pointer;
  z-index: 2;
  position: fixed;
  top: 30px;
  right: 24px;
  padding: 24px 27px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--background-color);
}

.menu-btn > i{
  color: var(--primary-color);
}

.menu-icon{
  animation: fadeIn 1s linear;
} 

@keyframes fadeIn {
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}